data/raw/
data/processed/
!data/processed/
!data/processed/train_task_ids.txt
!data/processed/validation_task_ids.txt
!data/processed/test_task_ids.txt
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
.DS_Store
wandb/
checkpoints/
.ipynb_checkpoints/outputs/
logs/
scripts/outputs/
*.out
*.err
